.body{
    background-color: blue;
  }
  
h1{
    color:white;
    text-align: center;
    background-color: black;
  }
  
p{
    font-family: cursive;
    font-size: 15pt;
  }
.form{
  text-align: center;
  color: white;
  font-size: 15pt;
  font-family: cursive;
}